mat-button-toggle{
  
    display: block;
    width: 90%;
    border: none;
    //background-color: #008CBA;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 2%;
    margin-left: 45px;
    color: #fff;
    background-image: linear-gradient(to right, #4f6b81 0%, #75bcf7 100%);
  }
  
  button{
    
    display: block;
    width: 94%;
    border: none;
    //background-color: #008CBA;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 2%;
    margin-left: 45px;
    color: #fff;
    background-image: linear-gradient(to right, #4f6b81 0%, #75bcf7 100%);
  }
  
  
  .parent{
    background: #fff;
  }